<div class="login-back">
  <div class="login-body register">
    <div class="login-content register">
      <div class="register-item">
        <div class="register-text"><span>用户名：</span><span class="notification">*</span></div>
        <div class="register-output"><input class="register-input" placeholder="请输入用户名"></div>
      </div>
      <div class="register-item">
        <div class="register-text"><span>密码：</span><span class="notification">*</span></div>
        <div class="register-output"><input class="register-input" placeholder="请输入密码"></div>
      </div>
      <div class="register-item">
        <div class="register-text"><span>确认密码：</span><span class="notification">*</span></div>
        <div class="register-output"><input class="register-input" placeholder="请再次输入密码"></div>
      </div>
      <div class="register-item">
        <div class="register-text"><span>验证码：</span><span class="notification">*</span></div>
        <div class="register-output"><input class="register-input identify" placeholder="请再次输入密码"><div class="identify-image"></div></div>
      </div>
      <div class="register-item special">
        <div class="box-border"><p-checkbox  binary="true"></p-checkbox></div>
        <div class="box-text"><span>我已阅读并同意<span  class="register-protocol" routerLink="../protocol">《商户注册协议》</span></span></div>
      </div>
      <div class="register-item">
        <div class="login button just-register">注册</div>
      </div>
      <div class="register-item to-login">
        <span>已有账号，去<span class="go-login" routerLink="../login">登录></span></span>
      </div>
    </div>
  </div>
</div>
