.login-back {
  display: flex;
  justify-content: center;
  align-items:  center;
  width: 100vw;
  height: 100vh;
  background: url("../../../assets/image/login.jpg");
  background-size: 100vw 100vh;
}

.login-body {
  width: 32vw;
  min-width: 320px;
  height: 35vh;
  min-height: 280px;
  background-color: rgba(255, 245, 245, 0.58);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items:  center;
}

.login-body.register {
  height: 45vh;
  min-height: 450px;
}

.login-body.protocol {
  display: initial;
  background-color: rgba(211, 230, 255, 1);
  width: 42vw;
  min-width: 420px;
  height: 80vh;
  min-height: 450px;
}

.login-content {
  width: 30vw;
  min-width: 300px;
  height: 32vh;
  min-height: 250px;
  background: linear-gradient(to right, rgba(200, 222, 252, 1), rgba(255, 255, 255, 1));
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
}

.login-content.register {
  height: 43vh;
  min-height: 420px;
}

.input-item {
  display: flex;
  justify-content: center;
  border: 1px solid rgba(0, 86, 201, 0.5);
  width: 80%;
  height: 35px;
  border-radius: 50px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 1);
}

.input-item:first-child{
  margin-top: 40px;
}

.input-item:nth-child(2){
  margin: 0;
}

.input-item:last-child {
  margin-bottom: 15px;
}

.register-item {
  width: 80%;
}

.register-item:first-child{
  margin-top: 10px;
}

.register-item:last-child {
  margin-bottom: 15px;
}

.register-item.special {
  display: flex;
  justify-content: left;
  margin: 20px 0 15px 0;
}

.register-text {
  width: 100%;
  line-height: 40px;
  height: 30px;
  margin-left: 20px;
}

.notification {
  color: rgba(255, 0, 0, 1);
}

.register-output {
  width: 100%;
}

.register-input {
  width: 90%;
  border: 1px solid rgba(0, 86, 201, 0.5);
  height: 30px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 1);
  outline: 0;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 1.2rem;
}

.register-input.identify {
  width: 50%;
}

.identify-image {
  width: 30%;
}

.input-item .left {
  width: 10%;
  border-right: 1px solid rgba(0, 86, 201, 1);
  margin: 10px 0px 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-item .right {
  width: 90%;
  margin: 5px;
}

.right > .input {
  border: 0;
  width: 100%;
  height: 25px;
  line-height: 25px;
  outline: 0;
  caret-color: rgba(0, 86, 201, 0.6);
  font-size: 1.4rem;
  color: rgba(11, 9, 81, 1);
}

.input-item .icon {
  color: rgba(0, 86, 201, 1);
  font-size: 1.6rem;
}

.input-item.special {
  background-color: transparent;
  border: 0;
  height: auto;
  margin-top: 0;
}

.box-border {
  width: 5%;
  margin-left: 10px;
}

.box-text {
  width: 95%;
  color: rgba(58, 58, 58, 1);
  font-size: 1rem;
}

.button{
  border-radius: 50px;
  width: 100%;
  font-size: 1.4rem;
  margin: 5px;
  text-align: center;
  padding: 8px  0;
  cursor: pointer;
  outline: 0;
}

.button.login {
  width: 50%;
  border: 1px solid  rgba(0, 86, 201, 1);
  background-color: rgba(0, 86, 201, 1);
  color: rgba(255, 255, 255, 1);
}

.button.register {
  width: 50%;
  border: 1px solid rgba(0, 86, 201, 1);
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 86, 201, 1);
}

.button.just-register {
  width: 100%;
}

.to-login {
  display: flex;
  justify-content: center;
  color: rgba(58, 58, 58, 1);
}

.go-login {
  cursor: pointer;
  outline: 0;
  color: rgba(0, 86, 201, 1);
}

.register-protocol {
  color: rgba(0, 86, 201, 1);
  cursor: pointer;
  outline: 0;
}

.button.agree {
  width: 15%;
  border-radius: 5px;
  padding: 5px 20px;
  background-color: rgba(35, 86, 133, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 1.4rem;
}

.button.disagree {
  width: 15%;
  border-radius: 5px;
  padding: 5px 20px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid  rgba(35, 86, 133, 1);
  color:  rgba(35, 86, 133, 1);
  font-size: 1.4rem;
}

.protocol-title {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title {
  color: rgba(35, 86, 133, 1);
}

.protocol-title > .title{
  height: 60px;
  line-height: 60px;
  font-size: 1.4rem;
}

.protocol-body {
  display: flex;
  justify-content: center;
}

.protocol-back {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: rgba(255,255,255,1);
  border: 1px solid rgba(216, 191, 216, 1);
  height: 62vh;
  min-height: 320px;
  overflow:scroll;
}

.protocol-back > .protocol {
  width: 100%;
}


.protocol-zy-title {
  display: flex;
  justify-content: center;
}

.protocol-zy-title > .title {
  font-size: 1.2rem;
  height: 60px;
  line-height: 60px;
}

.protocol-back > .protocol{
  padding: 0 5px 0 10px;
}

.protocol-footer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
