<div class="login-back">
  <div class="login-body register protocol">
    <div class="protocol-title"><span class="title">新用户注册服务协议</span></div>
    <div class="protocol-body">
      <div class="protocol-back">
        <div class="protocol-zy-title"><span class="title">《洲阳科技新商户注册服务协议》</span></div>
        <div class="protocol"><span class="content" [innerHtml]="protocol"></span></div>
      </div>
    </div>
    <div class="protocol-footer">
        <div class="button agree">同意</div>
        <div class="button disagree">不同意</div>
    </div>
  </div>
</div>
