/* You can add global styles to this file, and also import other style files */

html {
  font-size: 12px;
}

body {
  margin: 0 !important;
}

.normal-text {
  color: rgba(58, 58, 58, 1);
  font-size: 1.2rem;
}
